{{> navbar user}}

<div class="container-fluid">
    <div id="ml">
        <h2 style="color: white;">Hello {{user.firstname}} </h2>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 col-lg-4 col-sm-8">

            <div id="activities" class="activity bg-secondary">
                <legend style="color: black;font-weight:bold;font-size:x-large">Fun Activities <i class="far fa-smile-beam"></i></legend>
                {{#each activities}}

                <div class="activities-card mt-3">

                    <h4 style="color:black;font-size:x-large;font-weight:bold">{{name}}</h4>
                    <p style="color: black;">{{description}}</p>

                    <div>
                        <h5 style="color:black;font-weight:bold;font-size:medium">Location:</h5>
                        <p style="color: black;">{{street}}, {{state}}, {{city}}, {{zip}}</p>
                    </div>

                   <p style="color:black">by {{'User.firstname'}}, Contact: {{'User.phone'}}
                    @ {{createdAt}} </p>
                </div>
                {{/each}}

            </div>

        </div>
        <div class="col-md-8">
            <div id="map">

            </div>
        </div>
    </div>


</div>


<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDq70sJV45glTCIzAG9zL_ookT7DaKmP8&callback=initMap"></script>
<script>

    let geoAPIKey = "93d3ded8310f4bcd0816861f0428d0f8";
    // Initialize and add the map
     function initMap() {
     
        $.ajax({
            url: '/api/activities',
            method: "GET"
        }).then(function (activityresponse) {
            console.log(activityresponse);
            const locations = [];
            activityresponse.forEach(activity => {
                const activityArray = [];
                const activityName = `${activity.name}<br>`;
                const activityAddy = `${activity.address}, ${activity.city}, ${activity.state}, ${activity.zip}`;
                const totalAct = activityName + activityAddy;
                activityArray.push(totalAct);
                activityArray.push(activity.lat);
                activityArray.push(activity.lon);
                locations.push(activityArray)
            })
            var center = { lat : parseFloat(activityresponse[0].lat),lng: parseFloat(activityresponse[0].lon)};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 9,
                center: center
            });
            var infowindow = new google.maps.InfoWindow({});
            var marker, count;
            for (count = 0; count < activityresponse.length; count++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(activityresponse[count].lat, activityresponse[count].lon),
                    map: map,
                    title: activityresponse[count].name
                });
                google.maps.event.addListener(marker, 'click', (function (marker, count) {
                    return function () {
                        infowindow.setContent(activityresponse[count].name);
                        infowindow.open(map, marker);
                    }
                })(marker, count));
            }
        })
    };

</script>