{{> navbar user}}


<div class="container">

    <div class="row">

        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="card user mt-5" style="width: 400px;">

                <div class="card-header" id="users">
                    <h2 style="color: rgb(77, 0, 128);"> Your Information</h2>
                </div>

                <div class="card-body">
                    <p class="card-text color">Contact Number: {{user.phone}}</p>
                    <p class="card-text color">Email : {{user.email}}</p>
                    <p class="card-tex color">Age : {{user.age}}</p>
                    <p class="card-text color">Gender: {{user.gender}}</p>

                    <br><br><br><br><br><br>
                   <div class="color mt-5">@ {{user.createdAt}}</div>
                </div>

            </div>

        </div>
    </div>


</div>
</div>